body {
	font-family: "Fira Sans", sans-serif;
	max-width: 1024px;
	margin: 0px auto;
	background-color: rgb(29, 41, 81);
	color: #EDF7F6;
}

.heading {
	font-weight: 700;
	color: #FCCB06;
	text-align: center;
	font-size: 48px;
	font-family: Montserrat;
}

.image {
	display: block;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

h2 {
	font-weight: 700;
	font-size: 32px;
	text-align: left;
	color: #FCCB06;
	font-family: Montserrat;
}

.link {
	color: #EDF7F6;
	font-size: 24px;
	font-weight: 300;
}
